.minekort table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

.minekort td, .minekort th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.minekort tr:nth-child(even) {
    background-color: #dddddd;
}